/* RESET */

body{
    margin:0;
    font-family:Arial, sans-serif;
    background:white;
    color:black;
    line-height:1.6;
}

/* NAVIGATION */

nav{
    background:#003366;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 30px;
}

.logo{
    color:white;
    font-size:24px;
    font-weight:bold;
}

nav ul{
    list-style:none;
    display:flex;
    gap:25px;
    margin:0;
    padding:0;
}

nav ul li a{
    color:white;
    text-decoration:none;
    font-weight:bold;
}

nav ul li a:hover{
    color:#66b3ff;
}

/* HERO */

.hero{
    height:85vh;

    background:
    linear-gradient(rgba(0,0,0,0.55), rgba(0,0,0,0.55)),
    url('https://images.unsplash.com/photo-1516627145497-ae6968895b74');

    background-size:cover;
    background-position:center;

    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;

    text-align:center;
    color:white;

    padding:20px;
}

.hero h1{
    font-size:55px;
    max-width:900px;
    margin-bottom:15px;
}

.hero p{
    max-width:700px;
    font-size:20px;
}

.hero button{
    margin-top:25px;
    padding:15px 30px;
    border:none;
    background:#0066cc;
    color:white;
    font-size:16px;
    font-weight:bold;
    cursor:pointer;
    border-radius:5px;
}

.hero button:hover{
    background:#004c99;
}

/* SECTIONS */

.section{
    padding:80px 30px;
    text-align:center;
}

.section h2{
    color:#0066cc;
    margin-bottom:25px;
}

.dark{
    background:#f5f7fa;
}

/* CARDS */

.card-container{
    display:flex;
    justify-content:center;
    gap:25px;
    flex-wrap:wrap;
    margin-top:30px;
}

.card{
    width:260px;
    background:white;
    padding:25px;
    border:2px solid #0066cc;
    border-radius:10px;
    transition:0.3s;
}

.card:hover{
    transform:translateY(-8px);
    box-shadow:0 5px 15px rgba(0,0,0,0.15);
}

.card h3{
    color:#0066cc;
}

/* GALLERY PAGE */

.gallery-section{
    padding:80px 30px;
    text-align:center;
}

.gallery-section h1{
    color:#0066cc;
    margin-bottom:40px;
}

.gallery{
    display:grid;
    grid-template-columns:repeat(auto-fit,minmax(250px,1fr));
    gap:20px;
}

.gallery img{
    width:100%;
    height:250px;
    object-fit:cover;
    border-radius:10px;
    border:3px solid #0066cc;
    transition:0.3s;
}

.gallery img:hover{
    transform:scale(1.05);
}

/* FOOTER */

footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:25px;
}
